.root {
  background-color: black;
}

.cart {
  color: rgb(255, 240, 24);
  font-size: 17px;
}

.OverHeader {   
  padding-left: 25px;
  background-color: rgb(255, 240, 24);
  font-size: 20px;
  font-weight: bold;
  display: flex;
  gap: 150px;
  align-items: center;
}

.header {
  position: sticky;
  top: 0;
  z-index: 2;
}
